@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

/* 
#2e3440 darker
#3b4252 dark
#434c5e soft dark
#4c566a light dark
*/

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    color: white;
    padding: 5px 5px;
    margin: 20px auto;
    font-size: 20px;
    width: 20%;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: baseline;
    grid-column-gap: 50px;
}

/* ------- Drop Zone ------- */
.drop-zone {
    align-items: center;
    align-self: center;
    border: 7px solid black;
    border-radius: 25px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    color: black;
    display: grid;
    font-weight: bold;
    font-size: 30px;
    height: 307px;
    padding: 20px;
    text-align: center;
    width: 1fr;
}

/* ------- Prediction logs ------- */
.prediction-logs {
    width: 2fr;
    background-color: black;
    height: 327px;
    border: 20px black solid;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    color: white;
    overflow: auto;
    font-size: 17px;
}

/* ------- File Input ------- */
.input-file {
    display: none;
}
