@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

/* 
#2e3440 darker
#3b4252 dark
#434c5e soft dark
#4c566a light dark
*/

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    color: white;
    padding: 10px;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: black;
}

.container {
    display: flex;
    width: 100vw;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.container * {
    margin: 2%;
}

/* ------- Drop Zone ------- */
.drop-zone {
    align-items: center;
    align-self: center;
    border: 7px solid black;
    border-radius: 25px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    color: black;
    display: grid;
    font-weight: bold;
    font-size: 30px;
    height: 307px;
    padding: 20px;
    text-align: center;
    width: 1fr;
}

/* ------- Prediction logs ------- */
.prediction-logs {
    width: 700px;
    min-width: 2fr;
    background-color: black;
    height: 327px;
    border: 20px black solid;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    color: white;
    overflow: auto;
    font-size: 17px;
}

/* ------- File Input ------- */
.input-file {
    display: none;
}

.imageInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imageContainer {
    padding: 15px;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 2px;
    /* max-width: 200px; */
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(92, 40, 40, 0.5);
    color: white;
    animation: appear 200ms 1;
}

.imageDetails {
    display: inline;
    margin: 2%;
    font-size: 16px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(0, -50px);
    }

    to {
        opacity: 1;
    }
}

.image {
    width:100%
}


@media only screen and (min-width:560px) {
    .container {
        flex-direction: row;
    }

    .image {
        max-width: 50vw;
    }

    .title {
        width: 50%;
    }

    .imageInputs {
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width:560px) {

    .container {
        flex-direction: column;
    }

    .title {
        max-width: 80vw;
    }

    .image {
        max-width: 90vw;
    }

    .drop-zone {
        height: 107px;
    }

    .imageInputs {
        flex-direction: column-reverse;
    }
}